body {
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  flex: 0 0 auto;
  text-align: right;
  margin-right: 40px;
  margin-top: 100px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.logo-container {
  flex: auto;
  margin-left: 5px;
}

.logo {
  max-width: 70%;
  max-height: 70%;
}

.content {
  flex: 0 0 auto;
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Take full width of container */
  height: 780px; /* Set the desired height */
  object-fit: cover;
  /* margin: 0; */
  transition: opacity 0.5s, filter 0.5s;
}

.image-container img.active-image {
  filter: blur(3px);
  transform: scaleX(2);
  /* transform-origin: right; */
  filter: brightness(0.3);
  /* max-width: 300px; */
}

.image-container img {
  transition: all 0.3s ease;
}

.image-container img:not(.active-image) {
  filter: none;
  transform: none;
}

.image-container .image-text1,
.image-text2,
.image-text3,
.image-text4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  display: none;
  z-index: 101;
  width: 520px;
  text-align: center;
  position: absolute;
}

.title-text1,
.title-text2,
.title-text3,
.title-text4 {
  color: rgb(240, 240, 40);
  font-size: 35px;
  font-family: serif;
}

.des-text1,
.des-text2,
.des-text3,
.des-text4 {
  color: white;
}

.image-text1 {
  bottom: 3%;
  left: 21%;

}

.image-text2 {
  bottom: 40%;
  left: 40%;
}

.image-text3 {
  bottom: 13%;
  left: 63%;
}

.image-text4 {
  bottom: -5%;
  left: 69%;
  text-align: right;
}

.image-container img.active-image + .image-text1 {
  display: block;
}

.image-container img.active-image + .image-text2 {
  display: block;
}

.image-container img.active-image + .image-text3 {
  display: block;
}

.image-container img.active-image + .image-text4 {

  display: block;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contents {
    flex: 0 0 auto;
    margin-right: 40px;
    margin-top: 50px;
  }
  h1 {
    font-size: px;
    color: #333;
  }
  image-container {
    max-width: 100%;
  }

  .image-container img {
    width: 100px;
    height: 700px;
  }

  section {
    height: 100vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

