/* Common styles for all screen sizes */

body {
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  flex: 0 0 auto;
  text-align: right;
  margin-right: 40px;
}

h1 {
  font-size: 3rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.logo-container {
  flex: auto;
  margin-left: 5px;
}

.logo {
  max-width: 70%;
  max-height: 70%;
}

.content {
  flex: 0 0 auto;
  text-align: right;
}

/* Section with background image */

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* Remove unnecessary margin */
  background-color: #f0f0f0;
  width: 100%; /* Take full width of viewport */
  overflow: hidden; /* Hide any content overflowing from the section */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Take full width of viewport */
  position: absolute;
  margin: 0 auto; /* Center the container */
  overflow: hidden;
}

.image-container img {
  width: 100%; /* Take full width of container */
  height: 780px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio without overflowing */
  margin: 0;
  transition: opacity 0.5s, filter 0.5s;
}

.image-container img.active-image {
  filter: blur(3px);
  transform: scalex(2);
  filter: brightness(0.3);
}

.image-container img {
  transition: all 0.3s ease;
}

.image-container img:not(.active-image) {
  filter: none;
  transform: none;
}

/* Image texts */

.image-container .image-text1,
.image-text2,
.image-text3,
.image-text4 {
  position: absolute;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 24px;
  font-weight: bold;
  display: none;
  z-index: 101;
  width: 10;
  text-align: center;
}

.image-text1 {
  bottom: 50%;
  left: 16%;
}

.image-text2 {
  bottom: 50%;
  left: 36%;
}

.image-text3 {
  bottom: 50%;
  left: 62%;
}

.image-text4 {
  bottom: 50%;
  left: 85%;
}

.image-container img.active-image + .image-text1 {
  display: block;
}

.image-container img.active-image + .image-text2 {
  display: block;
}

.image-container img.active-image + .image-text3 {
  display: block;
}

.image-container img.active-image + .image-text4 {

  display: block;
}


@media screen and (max-width: 767px) {
  .image-container {
    max-width: 100%;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  section {
    height: 100vh;
  }
}
