@font-face {
  font-family: font1;
  src: url("/static/fonts/B-Koodak/Bkoodak.ttf") format("ttf");
}
 
body {
  background-color: #ffffff;
  font-family: font1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents {
  flex: 0 0 auto;
  text-align: right;
  margin-right: 40px;
  margin-top: 100px;
}

h1 {
  font-size: 10rem;
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}
h3 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

button[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.logo-container {
  flex: auto;
  margin-left: 5px;
}

.logo {
  max-width: 70%;
  max-height: 70%;
}

.content {
  flex: 0 0 auto;
  text-align: right;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.image-container img {
  width: 100% auto; /* Take full width of container */
  height: 780px; /* Set the desired height */
  object-fit: cover;
  /* margin: 0; */
  transition: opacity 0.5s, filter 0.5s;
}

.image-container img.active-image {
  transform: scaleX(2);
  transform-origin: right;
  filter: brightness(0.3);
  width: 70%;
}
.image-container img.active-image:first-child {
  transform-origin: left;
}
.image-container img.active-image:nth-of-type(2) {
  transform-origin: left;
}

.image-container img {
  transition: all 0.3s ease;
}

.image-container img:not(.active-image) {
  filter: none;
  transform: none;
}

.image-container .image-text1,
.image-text2,
.image-text3,
.image-text4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  display: none;
  z-index: 101;
  width: 520px;
  text-align: center;
  position: absolute;
}

.title-text1,
.title-text2,
.title-text3,
.title-text4 {
  color: rgb(240, 240, 40);
  font-size: 35px;
  font-family: font1;
}

.des-text1,
.des-text2,
.des-text3,
.des-text4 {
  color: white;
  font-family: font1;
}

.image-text1 {
  bottom: 3%;
  left: 21%;
}

.image-text2 {
  bottom: 40%;
  left: 40%;
}

.image-text3 {
  bottom: 13%;
  left: 63%;
}

.image-text4 {
  bottom: -5%;
  left: 69%;
  text-align: right;
}

.image-container img.active-image + .image-text1 {
  display: block;
}

.image-container img.active-image + .image-text2 {
  display: block;
}

.image-container img.active-image + .image-text3 {
  display: block;
}

.image-container img.active-image + .image-text4 {
  display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .contents {
    flex: 0 0 auto;
    text-align: center;
    margin-right: 0;
    margin-top: 0;
  }
  .logo-container {
    width: 80%;
    height: 40%;
  }
  .logo {
    display: block;
    width: 300px;
    height: 20%;
    margin-top: 0;
    margin-left: 26%;
  }
  .display-4 {
    margin-right: 0;
    margin-top: 5px;
    font-size: 2rem;
    text-align: center;
  }

  .lead {
    font-size: 1rem;
    color: #555;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px;
  }

  section {
    height: 30vh;
  }

  .image-container {
    width: 1200px;
    overflow: hidden;
  }

  .image-container img {
    width: 150px;
    height: 900px;
  }

  .title-text1,
  .title-text2,
  .title-text3,
  .title-text4 {
    font-size: 23px;
    text-align: right;
  }
  .des-text1,
  .des-text2,
  .des-text3,
  .des-text4 {
    font-size: 18px;
  }

  .title-text1 {
    display: flex;
    position: absolute;
    text-align: right;
    transform: translate(240px, -400px);
  }
  .title-text2 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(150px, -360px);
  }
  .title-text3 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(14px, -300px);
  }
  .title-text4 {
    position: absolute;
    text-align: right;
    transform: translate(230px, -400px);
  }

  .des-text1 {
    transform: translateX(19%);
  }
  .des-text2 {
    transform: translate(7%);
  }
  .des-text3 {
    transform: translate(-9%);
  }
  .des-text4 {
    transform: translate(-40%);
  }

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .contents {
      margin-right: 40px;
      margin-top: 50px;
    } */
    .contents {
      flex: 0 0 auto;
      text-align: right;
      margin-right: -40px;
    }
  
  h1 {
    font-size: 3rem;
  }
  
    .logo-container {
      width: 250px;
      height: 250px;
      margin-top: 50px;
    }
    .image-container {
      max-width: 100%;
    }
  
    .image-container img {
      width: 100%; 
      height: 450px; 
    }
    section {
      height: 50vh;
    }
   
  
    .title-text1,
    .title-text2,
    .title-text3,
    .title-text4 {

      font-size: 20px;
    }
    .des-text1,
    .des-text2,
    .des-text3,
    .des-text4 {

      font-size: 13px;
      line-height: 0.9;
    }
  
    .title-text1 {
      display: block;
      position: absolute;
      text-align: right;
      transform: translate(230px, -40px);
    }
    .title-text2 {
      display: block;
      position: absolute;
      text-align: right;
      transform: translate(290px, -110px);
    }
    .title-text3 {
      display: block;
      position: absolute;
      text-align: right;
      transform: translate(26px,20px);
    }
    .title-text4 {
      display: block;
      position: absolute;
      text-align: right;
      transform: translate(380px, -10px);
    }
  
    .des-text1 {
      transform: translateX(5%, 500px);
    }
    .des-text2 {
      transform: translate(15%, 130px);
    }
    .des-text3 {
      transform: translate(-20%, 70px);
    }
    .des-text4 {
      transform: translate(-15%, 30px);
    }
  
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contents {
    flex: 0 0 auto;
    text-align: right;
    margin-right: 40px;
    margin-top: 100px;
  }
  
  h1 {
    font-size: 10rem;
    color: #333;
  }
  
  p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  form {
    display: flex;
    justify-content: center;
  }
  
  input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
  
  .logo-container {
    flex: auto;
    margin-left: 5px;
  }
  
  .logo {
    max-width: 130%;
    max-height: 130%;
  }
  
  .content {
    flex: 0 0 auto;
    text-align: right;
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%; /* Take full width of container */
    height: 780px; /* Set the desired height */
    object-fit: cover;
    /* margin: 0; */
    transition: opacity 0.5s, filter 0.5s;
  }
  
  .image-container img.active-image {
    filter: blur(3px);
    transform: scaleX(2);
    /* transform-origin: right; */
    filter: brightness(0.3);
    /* max-width: 300px; */
  }
  
  .image-container img {
    transition: all 0.3s ease;
  }
  
  .image-container img:not(.active-image) {
    filter: none;
    transform: none;
  }
  
  .image-container .image-text1,
  .image-text2,
  .image-text3,
  .image-text4 {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    display: none;
    z-index: 101;
    width: 520px;
    text-align: center;
    position: absolute;
  }
  
  .title-text1,
  .title-text2,
  .title-text3,
  .title-text4 {
    color: rgb(240, 240, 40);
    font-size: 35px;
    font-family: serif;
  }
  
  .des-text1,
  .des-text2,
  .des-text3,
  .des-text4 {
    color: white;
  }
  
  .image-text1 {
    bottom: 3%;
    left: 21%;
  }
  
  .image-text2 {
    bottom: 40%;
    left: 40%;
  }
  
  .image-text3 {
    bottom: 13%;
    left: 63%;
  }
  
  .image-text4 {
    bottom: -5%;
    left: 69%;
    text-align: right;
  }
  
  .image-container img.active-image + .image-text1 {
    display: block;
  }
  
  .image-container img.active-image + .image-text2 {
    display: block;
  }
  
  .image-container img.active-image + .image-text3 {
    display: block;
  }
  
  .image-container img.active-image + .image-text4 {
    display: block;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
  }
  .logo-container {
    flex: auto;
    margin-left: -100px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%; /* Take full width of container */
    height: 780px; /* Set the desired height */
    object-fit: cover;
    /* margin: 0; */
    transition: opacity 0.5s, filter 0.5s;
  }
  
  .image-container img.active-image {
    filter: blur(3px);
    transform: scaleX(1.5);
    /* transform-origin: right; */
    filter: brightness(0.3);
    /* max-width: 300px; */
  }
  
  .image-container img {
    transition: all 0.3s ease;
  }
  
  .image-container img:not(.active-image) {
    filter: none;
    transform: none;
  }
  

  .title-text1,
  .title-text2,
  .title-text3,
  .title-text4 {

    font-size: 30px;
  }
  .des-text1,
  .des-text2,
  .des-text3,
  .des-text4 {

    font-size: 25px;
    line-height: 1.5;
  }

  .title-text1 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(230px, 0%);
  }
  .title-text2 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(290px, -100px);
  }
  .title-text3 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(26px,60px);
  }
  .title-text4 {
    display: block;
    position: absolute;
    text-align: right;
    transform: translate(380px, 30px);
  }

  .des-text1 {
    transform: translateX(5%, 500px);
  }
  .des-text2 {
    transform: translate(15%, 130px);
  }
  .des-text3 {
    transform: translate(-20%, 70px);
  }
  .des-text4 {
    transform: translate(-15%, 50px);
  }

}
