{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Keyvan Safe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="logo-container">
          <img src="{% static 'images/logo-removebg-preview.png' %}" alt="Logo" class="logo">
        </div>
        <div class="contents">
          <h1 class="display-4">.منتظرمان باشید</h1>
          <p></p>
          <p class="lead">!در حال طراحی جامع ترین سایت تجهیزات ایمنی هستیم</p>
          <p class="lead">شگفت زده خواهید شد</p>
        </div>
    </div>
        <section>
            <div class="image-container">
                <img src="{% static 'images/hat.png' %}" alt="Image 1" class="active-image" />
                <div class="image-text image-text1">
                    <h2 class = "title-text1">انواع تجهیزات حفاظت فردی و ایمنی</h2>
                    <p></p>
                    <p></p>
                    <p class = "des-text1"> کلاه ایمنی، دستکش های ایمنی و صنعتی</p>
                    <p class = "des-text1"> گوشی های حفاظتی و محافظ های صورت</p>   
                    <p class = "des-text1">انواع عینک های ایمنی</p>    
                    <p class = "des-text1">کفش های ایمنی و اداری </p>
                </div>
        
                <img src="{% static 'images/clothes.png'%}" alt="Image 2" class="active-image"/>
                <div class="image-text image-text2">
                    <h2 class = "title-text2">انواع لباس های کار و فرم سازمانی</h2>
                    {% comment %} <p></p>
                    <p></p> {% endcomment %}
                    <p class = "des-text2">طراحی و دوخت انواع البسه سفارشی و خاص</p>
                </div>
        
                <img
                src="{% static 'images/firefighter.png' %}"
                alt="Image 3" class="active-image"
                />
                <div class="image-text image-text3" class="active-image">
                    <h2 class = "title-text3">انواع تجهیزات آتش نشانی و ماسک های تنفسی</h2>
                    <p></p>
                    <p></p>
                    <p class = "des-text3">ماسک های تنفسی و شیمیایی و انواع فیلترها</p>
                    <p class = "des-text3">تجهیزات اعلام و اطفاء حریق اتوماتیک و دستی</p>
                    <p class = "des-text3">انواع خاموش کننده ها</p>
                    <p class = "des-text3">متعلقات سیستم های آتش نشانی</p>
                </div>
        
                <img src="{% static 'images/Rectangle.png' %}" alt="Image 4" />
                <div class="image-text image-text4">
                    <h2 class = "title-text4">فروش سازمانی</h2>
                    <p></p>
                    <p></p>
                    <p class = "des-text4">مناسب ترین قیمت✅</p>
                    <p class = "des-text4">بالاترین کیفیت✅</p>
                    <p class = "des-text4">ضمانت محصولات✅</p>
                    <p class = "des-text4">محصولات استاندارد و اصل✅</p>
                    <p class = "des-text4">خدمات پس از فروش و مشاوره ای✅</p>
                    
                </div>
            </div>
        </section>
      
          <script>
            let currentImageIndex = 0;
            const images = document.querySelectorAll(".image-container img");
            const imageTexts = document.querySelectorAll(".image-text");

            function showNextImage() {
            images[currentImageIndex].classList.remove("active-image");
            imageTexts[currentImageIndex].classList.remove("active-text");

            currentImageIndex = (currentImageIndex + 1) % images.length;

            images[currentImageIndex].classList.add("active-image");
            imageTexts[currentImageIndex].classList.add("active-text");

            images.forEach((image, index) => {
                if (index === currentImageIndex) {
                image.classList.add("active-image");
                image.classList.remove("inactive-image");
                } else {
                image.classList.add("inactive-image");
                image.classList.remove("active-image");
                }
            });
            }

            function startSlideshow() {
            showNextImage();
            setTimeout(startSlideshow, 3000);
            }

            startSlideshow();
          </script>
        {% block content %} {% endblock %}
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
